.section{
    padding: 4.5rem 0 1rem;

    &__title, &__title-center{
        font-size: $h2-font-size;
        color: $title-color;
        text-align: center;
        margin-bottom: $mb-1;
        margin-top: $mb-2;
    }
}

// .svg{
//     &__color{
//         fill: #fff;
        
//     }
       
//     &__blob{
//         fill: $first-color-light;
//     }
//     &__img{
//         width: 300px;
//         justify-self: center;
//     }
// }
img{
    width: 300px;
    justify-self: center;
    // margin-bottom: -1rem;
    
}

// =====================LAYOUT===============

.container{
    max-width: 968px;
    margin-left: $mb-1-5;
    margin-right: $mb-1-5;
   
} 

.grid{
    display: grid;
    gap: 2.5rem ;
}


.menu__btn{
    // position: absolute;
    padding-top: 9rem;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    &__burger{
        position: absolute;
        margin-top: 1.3rem;
        margin-right: $mb-1-5 ;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: $title-color;
        @include transition-ease;
        &::before{
            content: '';
            position: absolute;
            top: -8px;
            // right: 0;
            width: 20px;
            height: 3px;
            background: $title-color;;
            @include transition-ease;
        }
        &::after{
            content: '';
            position: absolute;
            top: 8px;
            // right: 0;
            width: 20px;
            height: 3px;
            background: $title-color;;
            @include transition-ease;
        }
         &.open{
         top: -3px;
        
         transform: rotate(720deg);
         background: transparent;
         &::before{
             
             transform: rotate(90deg) translate(16.5px, 0.1px);
        }
         }
    }
   
}

