.about{
    &__container{
        gap: 2.5rem;
    }
    &__data{
        text-align: center;
    }
    &__img{
        margin-top: 4rem;
    }
    &__description{
        margin-bottom: -3rem;
    }
}
.services__arrow{
    margin-right: 2rem;
}