@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Mochiy+Pop+One&family=Poppins:wght@400;600;700&display=swap");
/* *, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } */
.contact__input {
  width: 50%;
  background-color: rgb(238, 248, 252);
  /* background-color: hsl( 119, 70%, 96%); */
  color: hsl(119deg, 8%, 15%);
  font-family: "poppins", sans-serif;
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  padding-left: 0.8rem;
}

.contact__label {
  font-size: 0.95rem;
  /* color: hsl( 119, 8%, 15%); */
  font-family: "poppins", sans-serif;
  padding-left: 0.5rem;
  margin-top: 9rem;
}

.contact__label-artery {
  padding-left: 0.5rem;
}

.contact__input-artery {
  padding-left: 0.5rem;
}

p {
  padding-bottom: 1.5rem;
}

h2 {
  text-align: center;
  margin-bottom: 0;
  font-family: "poppins", sans-serif;
  padding-left: 0.5rem;
  padding-top: 2rem;
}

h3 {
  /* margin-bottom: .2rem; */
  margin-top: 1rem;
  font-family: "poppins", sans-serif;
  padding-left: 1rem;
}

h4 {
  /* margin-bottom: .2rem; */
  padding-top: 1rem;
  font-family: "poppins", sans-serif;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}

.spec {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.history {
  font-size: 1rem;
  font-weight: 0;
  font: "poppins", sans-serif;
}

.history-class {
  margin-left: 0.4rem;
  font: "poppins", sans-serif;
  padding: 5px 8px;
  border-radius: 0.2rem;
  background-color: rgb(238, 248, 252);
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: hsl(119deg, 8%, 15%);
}

.history-class:hover {
  /* border: 1rem; */
  /* color: blue; */
  background-color: rgb(227, 240, 227);
  /* border-radius: 2rem; */
  padding: 5px 8px;
}

.options {
  font: "poppins", sans-serif;
}

.underline {
  width: 15rem;
  height: 0.2rem;
  background-color: hsl(209deg, 98%, 60%);
  margin-left: 33%;
  margin-right: 50%;
  border-radius: 20rem;
  margin-top: 0.4rem;
  border: none;
  margin-bottom: 1rem;
}

.underline-patient {
  width: 8rem;
  height: 0.25rem;
  background-color: hsl(209deg, 98%, 60%);
  margin-left: 42%;
  margin-right: 50%;
  border-radius: 20rem;
  margin-top: 0.4rem;
  border: none;
  margin-bottom: 1rem;
}

.special-h3 {
  margin-bottom: -2rem;
  margin-top: -1rem;
  padding-bottom: -1rem;
}

.special-social-h3 {
  margin-top: -1rem;
  margin-bottom: 0.7rem;
}

.special-social-child {
  margin-top: -2rem;
}

.special-h3-drug {
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}

.special-h3-summary {
  margin-top: -1rem;
  margin-bottom: 0.2rem;
}

.special-h3-rhythm {
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}

.special-h3-precordium {
  margin-top: 1.5rem;
  margin-bottom: -1rem;
}

.special-h3-distress {
  margin-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.special-h3-abdomen {
  margin-top: -1rem;
  padding-bottom: 0.5rem;
}

h5 {
  font-size: 15px;
  padding-left: 0.5rem;
  font-weight: 0.5rem;
  color: black;
}

ul {
  padding-left: 0.5rem;
}

.physical-exam {
  text-align: center;
}

.underline-physical {
  width: 8.9rem;
  height: 0.25rem;
  background-color: hsl(209deg, 98%, 60%);
  margin-left: 40%;
  margin-right: 50%;
  border-radius: 20rem;
  margin-top: 0.4rem;
  border: none;
  margin-bottom: 1rem;
}/*# sourceMappingURL=med.css.map */